hyprland
hypridle
hyprpaper
hyprlock
hyprpolkitagent
grim
slurp
code
kitty
nemo
nemo-seahorse
zsh
keepassxc
mako
waybar
gnome-disk-utility
seahorse
kvantum
kvantum-qt5
nwg-look
qt5ct
qt6ct
font-manager
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
otf-font-awesome
ttf-profont-nerd
awesome-terminal-fonts
hyprcursor
fastfetch
htop

zuki-themes-git
kora-icon-theme
bibata-cursor-git
